# Node
frontend/node_modules
frontend/build

# Spring Boot / Gradle
backend/.gradle
backend/build
backend/target

# Env
.env

# IDE
.vscode
.idea

# Logs
*.log

# Build artifacts
backend/bin
frontend/dist

# Optional
.claude/*
!.claude/settings.json
!.claude/hooks/
output
products
scripts
templates